<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Not Found</title>
  <link  th:href="@{/styles.css}" rel="stylesheet">
</head>
<body>
<div id="container">
  <nav>
    <a href="/test">home</a>
    <a href="/about">about</a>
    <a href="/list">vocabulary list</a>
    <a href="/new">Add vocab</a>
  </nav>
  <h2>Vocabulary not fond</h2>
  <div class="form-group">
    <input onclick='javascript:window.history.back()' value='back' type='button' class="form-control btn btn-primary" id="back-btn"/>
    <a class="form-control btn btn-secondary" th:href="@{/list}">Vocabulary list</a>
  </div>

</div>
</body>
</html>
