<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About</title>
  <link  th:href="@{/styles.css}" rel="stylesheet">
</head>
<body>
<div id="container">
  <nav>
    <a href="/test">home</a>
    <a href="/about">about</a>
    <a href="/list">vocabulary list</a>
    <a href="/new">Add vocab</a>
  </nav>
    <p>    <strong>Java Web Developer postgraduate course's final project.</strong>
    </p>  <br>
  <p><strong>Developer:</strong>Slawomir Lysakowski.</p> <br>
  <p><strong>Project name:</strong> Korean Vocab App.</p> <br>
  <article>
    <strong>Description:</strong> Simple app to memorise Korean vocabulary.The goal of this application is to
    help me master Korean language. By default 10 words in Japanese are displayed and the goal
    is to correctly input their meaning in Korean. There is also an option to switch translation
    from Korean to Japanese. Each words should be stored in database in Korean, Japanese, English
    and Polish, so that it will be easy for anyone to verify whether the app is working correctly.
    Some words may have more than one meaning and in such case, the answer is correct if it fits
    one of the meanings. There is an option to add, delete, update words and to display all the
    words currently stored in the database. The app should count all the wrong and correct answers.




  </article>


</div>

</body>
</html>
