<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Vocabulary list</title>
  <link  th:href="@{/styles.css}" rel="stylesheet">

</head>
<body>
<div th:id="container" >
<nav>
  <a href="/test">home</a>
  <a href="/about">about</a>
  <a href="/list">vocabulary list</a>
  <a href="/new">Add vocab</a>
</nav>

  <table class="table" id="vocab-table">
    <tr>
      <th >ID</th>
      <th >Japanese</th>

      <th >Korean</th>
      <th >English</th>
      <th >Polish</th>
    </tr>
    <tr th:each="word : ${vocabs}">
      <td th:text="${word.id}"></td>
      <td th:text="${word.japanese}"></td>
      <td th:text="${word.korean}"></td>
      <td th:text="${word.english}"></td>
      <td th:text="${word.polish}"></td>
      <td>
        <a class="btn btn-primary" th:href="@{/get(id=${word.id})}"  >Open</a>
        <a class="btn btn-warning" th:href="@{/update(id=${word.id})}">Edit</a>
        <a class="btn btn-danger" th:href="@{/delete(id=${word.id})}">Delete</a>
      </td>
    </tr>
  </table>
</div>

</body>
</html>
